{% extends "lojafeira/painel/base.html" %}
{% load static %}
{% load meus_filtros %}

{% block title %}

Painel Administrativo - Editar Usuário

{% endblock title %}

{% block content %}

{% if status != None %}
<div class="no-print">
    <div class="callout callout-info">
      <i class="fa fa-info"></i>  {% if status == True %} Dados atualizados com sucesso. {% else %} Erro ao atualizar dados. {% endif %}
    </div>
</div>
{% endif %}

<form method="post">
    {% csrf_token %}
    <div class="form-group">
        {{form.email.errors}}
        <label>E-mail para Login: </label>
        {{form.email | addclass:'form-control' }}
    </div>
    <div class="form-group">
        {{form.feirante.errors}}
        <label>Feirante Vinculado: </label>
        {{form.feirante | addclass:'form-control'}}
    </div>
    <div class="form-group">
        {{form.nome.errors}}
        <label>Nome: </label>
        {{form.nome | addclass:'form-control'}}
    </div>
    <div class="form-group">
        {{form.sobrenome.errors}}
        <label>Sobrenome: </label>
        {{form.sobrenome | addclass:'form-control'}}
    </div>
    <div class="form-group">
        {{form.pais_origem.errors}}
        <label>País de Origem: </label>
        {{form.pais_origem | addclass:'form-control'}}
    </div>
    <div class="form-group">
        <input type="submit" value="Salvar" class="btn btn-primary">
    </div>

</form>

{% endblock content %}