{% extends 'lojafeira/painel/base.html' %}

{% load static %}
{% load meus_filtros %}

{% block title %}

Painel Administrativo - Lista de Pedidos

{% endblock title %}

{% block content %}
    <div class="box">
        <div class="box-header">
            <a href="{% url 'cadastrar_pedido' %}"><button class="btn btn-primary btn-sm">Novo Pedido</button></a>
            <!-- form_search -->
            <div class="box-tools pull-right">
                <div class="search-container">
                    <form method="get" class="form-search form-group">
                      <input name="termo" type="text" class="input-sm" placeholder="Pesquisar ...">
                      <button type="submit" title="Pesquisar"><i class="fa fa-search"></i></button>
                    </form>
                </div>
            </div>

        </div>
        <div class="box-body">
            <table class="table table-bordered">
                <tr>
                    <th>#</th>
                    <th>Pedido</th>
                    <th>Status</th>
                    <th>Valor</th>
                    <th>Data/Hora</th>
                    <th>Ações</th>
                </tr>
                {% for pedido in dados %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ pedido }}</td>
                        <td>{{ pedido.status }}</td>
                        {% if pedido.valor is None or pedido.valor == 0 %}
                        <td>Defina os produtos.</td>
                        {% else %}
                        <td>{{ pedido.valor }}</td>
                        {% endif %}
                        <td>{{ pedido.dt_criacao }}</td>
                        <td>
                            <a href="{% url 'editar_pedido' pedido.id %}" class="btn btn-primary btn-xs" title="Editar"><i class="fa fa-eye"></i></a>
                            <a href="{% url 'cadastrar_pedido_produtos' pedido.id %}" class="btn btn-info btn-xs" title="Produtos"><i class="fa fa-suitcase"></i></a>
                            <a href="{% url 'remover_pedido' pedido.id %}" class="btn btn-danger btn-xs" data-confirm='' title="Apagar"><i class="fa fa-trash"></i></a></td>

                    </tr>
                {% endfor %}
            </table>
        </div>
        <!-- /.box-body -->
        <!-- Paginação de Resultados -->
        <div class="box-footer clearfix">
            {% include 'lojafeira/painel/_pagination.html' %}
        </div>
    </div>
{% endblock content %}

{% block extra_foot %}
<script src="{% static 'lojafeira/js/modal_delete.js' %}"></script>
{% endblock extra_foot %}