{% extends 'lojafeira/painel/base.html' %}

{% load static %}
{% load meus_filtros %}

{% block title %}

Painel Administrativo - Lista de Produtos

{% endblock title %}

{% block content %}
    <div class="box">
        <div class="box-header">
            <a href="{% url 'cadastrar_produto' %}"><button class="btn btn-primary btn-sm">Novo Produto</button></a>
            <!-- form_search -->
            <div class="box-tools pull-right">
                <div class="search-container">
                    <form method="get" class="form-search form-group">
                      <input name="termo" type="text" class="input-sm" placeholder="Pesquisar ...">
                      <button type="submit" title="Pesquisar"><i class="fa fa-search"></i></button>
                    </form>
                </div>
            </div>

        </div>
        <div class="box-body">
            <table class="table table-bordered">
                <tr>
                    <th>#</th>
                    <th>Nome</th>
                    <th>Categoria</th>
                    <th>Valor</th>
                    <th>Valor Promo</th>
                    <th>Unidade Medida</th>
                    <th>Quantidade Estoque</th>
                    {% if user.is_superuser %}
                    <th>Feirante</th>
                    {% endif %}
                    <th>Ações</th>
                </tr>
                {% for produto in dados %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ produto.nome }}</td>
                        <td>{{ produto.categoria }}</td>
                        <td>{{ produto.valor }}</td>
                        <td>{{ produto.valor_promocional }}</td>
                        <td>{{ produto.unidade_medida }}</td>
                        <td>{{ produto.qtd_estoque }}</td>
                        {% if user.is_superuser %}
                        <td>{{ produto.feirante }}</td>
                        {% endif %}
                        <td>
                            <a href="{% url 'editar_produto' produto.id %}" class="btn btn-primary btn-xs" title="Editar"><i class="fa fa-eye"></i></a>
                            <a href="{% url 'remover_produto' produto.id %}" class="btn btn-danger btn-xs" data-confirm='' title="Apagar"><i class="fa fa-trash"></i></a></td>

                    </tr>
                {% endfor %}
            </table>
        </div>
        <!-- /.box-body -->
        <!-- Paginação de Resultados -->
        <div class="box-footer clearfix">
            {% include 'lojafeira/painel/_pagination.html' %}
        </div>
    </div>
{% endblock content %}

{% block extra_foot %}
<script src="{% static 'lojafeira/js/modal_delete.js' %}"></script>
{% endblock extra_foot %}